 .spacer {
     display: inline;
     border-left: 1px solid rgba(1, 1, 1, 0.1);
 }

 .btn-circle.btn-xl {
     width: 50px;
     height: 50px;
     padding: 6px;
     margin: 2px;
     border-radius: 25px;
     font-size: 22px;
     line-height: 1.33;
     background-color: rgb(248, 249, 250);
 }

 .btn-circle.btn-xl:hover {
     width: 50px;
     height: 50px;
     padding: 6px;
     margin: 2px;
     border-radius: 25px;
     font-size: 22px;
     line-height: 1.33;
     background-color: rgb(226, 230, 234)
 }

 .btn-circle.btn-xl:disabled {
     width: 50px;
     height: 50px;
     padding: 6px;
     margin: 2px;
     border-radius: 25px;
     font-size: 22px;
     line-height: 1.33;
     background-color: rgb(0, 0, 0, 0)
 }

 .btn-circle {
     width: 30px;
     height: 30px;
     padding: 6px 0px;
     border-radius: 15px;
     text-align: center;
     font-size: 12px;
     line-height: 1.42857;
 }


 .fas.fa-folder-open {
     color: rgb(0, 0, 0);
 }

 .fas.fa-edit {
     color: rgb(0, 0, 0);
 }

 .fas.fa-save {
     color: rgb(0, 0, 0);
 }

 .fas.fa-history {
     color: rgb(0, 0, 0);
 }

 .fas.fa-history:hover {
     color: rgb(247, 181, 0)
 }

 .fas.fa-times-circle {
     color: rgb(0, 0, 0);
 }

 .fas.fa-times-circle:hover {
     color: rgb(255, 1, 0)
 }