.react-draggable {
    position: absolute;
    width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #FFF;
    z-index: 10;
}

.handle {
    background-color: #ccc;
    border-radius: 5px 5px 0 0;
    padding: 0 0 0 15px;
    cursor: all-scroll;
}

.content-draggable {
    margin: 13px;
}